*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family:
		system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
#root,
#__next {
	isolation: isolate;
}
:root {
	/* declare global custom properties */
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

header {
	background-color: darkslategray;
	color: white;
	margin: 0;
	width: 100%;
	padding: 12px 40px;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main h1 {
	padding-bottom: 24px;
	text-align: center;
}

.navLink {
	padding-top: 24px;
	text-align: center;
	align-self: center;
}

main ul {
	list-style-type: none;
	padding: 2px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.content {
	padding: 24px 50px;
	border-radius: 12px;
	background-color: silver;
	display: flex;
	flex-direction: column;
	gap: 6px;
}
